In [102]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

In [103]:
driver=webdriver.Chrome('chromedriver.exe')

In [104]:
cities=['Chennai','Banglore','Mumbai','Delhi','Hyderabad','Ahemdabad','Kolkata','Surat','Pune','Jaipur','Lucknow','Kanpur',
        'Nagpur','Indore','Thane','Bhopal','Ghaziabad','Agra','Meerut','Aurangabad','Amritsar','Navi Mumbai','Jodhpur',
        'Gurgaon','New Delhi','Noida','Karnataka','Bhiwandi','Kolapur','Ajmer','Udaipur','Pimpri & Chinchwad','Patna',
        'Vadodara','Nashik','Kalyan','Dombivali','Rajkot','Vashi','Allahabad','Coimbatore','Raipur','Kota','Chandigarh',
       'Punjab','Kerala','Amravati']

In [105]:
url='https://www.cardekho.com/used-cars+in+mumbai'
driver.get(url)

In [ ]:
#scrapping the details for year and brand name
yr=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
year=[]
for i in yr:
    try:
        year.append(i.text)
    except:
        year.append('-')
year

In [75]:
len(year)

2644

In [ ]:
#scrapping model details of the car
mod=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/div[1]")
model=[]
for i in mod:
    try:
        model.append(i.text)
    except:
        model.append('-')
model

In [ ]:
#scrappint the details of what fuel does the car use
fue=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[2]")
fuel=[]
for i in fue:
    try:
        fuel.append(i.text)
    except:
        fuel.append('-')
fuel

In [ ]:
#scrapping the details which includes variant of the car
var=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[3]")
variant=[]
for i in var:
    try:
        variant.append(i.text)
    except:
        variant.append('-')
variant

In [ ]:
#scrapping the details of how much km did the car covered.
km=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[1]")
kms=[]
for i in km:
    try:
        kms.append(i.text)
    except:
        kms.append('-')
kms

In [ ]:
em=driver.find_elements_by_xpath("//div[@class='emitextCard']/span")
emi=[]
for i in em:
    try:
        emi.append(i.text)
    except NoSuchElementException:
        emi.append('N/A')
emi

In [ ]:
#scrapping the details of the prices of the vehicles
pric=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-5 text-right price']/span")
price=[]
for i in pric:
    try:
        price.append(i.text)
    except:
        price.append('-')
price

In [ ]:
cit=driver.find_elements_by_xpath("//div[@class='cityIcon']")
city=[]
for i in cit:
    try:
        city.append(i.text)
    except:
        city.append('-')
city

1784

# scrapping details of used cars from banglore

In [76]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.cardekho.com/used-cars+in+bangalore'
driver.get(url)

In [ ]:
#scrapping the details for year and brand name
yr=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
for i in yr:
    try:
        year.append(i.text)
    except:
        year.append('-')
year

In [84]:
len(price)

4272

In [ ]:
#scrapping model details of the car
mod=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/div[1]")
for i in mod:
    try:
        model.append(i.text)
    except:
        model.append('-')
model

In [ ]:
#scrappint the details of what fuel does the car use
fue=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[2]")
for i in fue:
    try:
        fuel.append(i.text)
    except:
        fuel.append('-')
fuel

In [ ]:
#scrapping the details which includes variant of the car
var=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[3]")
for i in var:
    try:
        variant.append(i.text)
    except:
        variant.append('-')
variant

In [ ]:
#scrapping the details of how much km did the car covered.
km=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[1]")
for i in km:
    try:
        kms.append(i.text)
    except:
        kms.append('-')
kms

In [ ]:
#scrapping the details of the prices of the cars
pric=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-5 text-right price']/span")
for i in pric:
    try:
        price.append(i.text)
    except:
        price.append('-')
price

# scrapping details from delhi

In [85]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.cardekho.com/used-cars+in+delhi'
driver.get(url)

In [ ]:
#scrapping the details for year and brand name
yr=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
for i in yr:
    try:
        year.append(i.text)
    except:
        year.append('-')
year

In [87]:
len(year)

5670

In [ ]:
#scrapping model details of the car
mod=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/div[1]")
for i in mod:
    try:
        model.append(i.text)
    except:
        model.append('-')
model

In [ ]:
#scrappint the details of what fuel does the car use
fue=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[2]")
for i in fue:
    try:
        fuel.append(i.text)
    except:
        fuel.append('-')
fuel

In [ ]:
#scrapping the details which includes variant of the car
var=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[3]")
for i in var:
    try:
        variant.append(i.text)
    except:
        variant.append('-')
variant

In [ ]:
#scrapping the details of how much km did the car covered.
km=driver.find_elements_by_xpath("//div[@class='truncate dotlist']/span[1]")
for i in km:
    try:
        kms.append(i.text)
    except:
        kms.append('-')
kms

In [ ]:
#scrapping the details of the prices of the cars
pric=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-5 text-right price']/span")
for i in pric:
    try:
        price.append(i.text)
    except:
        price.append('-')
price

In [93]:
df=pd.DataFrame({})
df['year and brand']=year
df['model']=model
df['fuel']=fuel
df['variant']=variant
df['kms']=kms
df['Price']=price
df

,year and brand,model,fuel,variant,kms,Price
0,2016 Maruti Baleno,1.2 CVT Delta,Petrol,Automatic,"25,735 kms",5.74 Lakh
1,2015 Hyundai Grand i10,Sportz,Petrol,Manual,"18,174 kms",4.5 Lakh
2,2014 Hyundai i10,Sportz 1.1L,Petrol,Manual,"45,195 kms",3.31 Lakh
3,2017 Maruti Alto K10,VXI Optional,Petrol,Manual,"22,761 kms",3.34 Lakh
4,2015 Hyundai Grand i10,Asta Option,Petrol,Manual,"22,819 kms",4.25 Lakh
...,...,...,...,...,...,...
5665,2012 Maruti Eeco,5 Seater AC BSIV,Petrol,Manual,"30,000 kms",2.25 Lakh
5666,2018 Ford Figo,1.2P Titanium MT,Petrol,Manual,"27,003 kms",4.9 Lakh
5667,2019 Hyundai Creta,1.6 SX Option,Petrol,Manual,"19,000 kms",13 Lakh
5668,2018 Maruti Ignis,Alpha,Petrol,Manual,"14,002 kms",4.75 Lakh
5669,2018 Toyota Innova Crysta,2.8 GX AT BSIV,Diesel,Automatic,"1,12,000 kms",16.5 Lakh

In [97]:
df.to_excel('cardekho_scr.xlsx')

In [100]:
df=pd.read_excel('cardekho_scr.xlsx')
df

,Unnamed: 0,year and brand,model,fuel,variant,kms,Price
0,0,2016 Maruti Baleno,1.2 CVT Delta,Petrol,Automatic,"25,735 kms",5.74 Lakh
1,1,2015 Hyundai Grand i10,Sportz,Petrol,Manual,"18,174 kms",4.5 Lakh
2,2,2014 Hyundai i10,Sportz 1.1L,Petrol,Manual,"45,195 kms",3.31 Lakh
3,3,2017 Maruti Alto K10,VXI Optional,Petrol,Manual,"22,761 kms",3.34 Lakh
4,4,2015 Hyundai Grand i10,Asta Option,Petrol,Manual,"22,819 kms",4.25 Lakh
...,...,...,...,...,...,...,...
5665,5665,2012 Maruti Eeco,5 Seater AC BSIV,Petrol,Manual,"30,000 kms",2.25 Lakh
5666,5666,2018 Ford Figo,1.2P Titanium MT,Petrol,Manual,"27,003 kms",4.9 Lakh
5667,5667,2019 Hyundai Creta,1.6 SX Option,Petrol,Manual,"19,000 kms",13 Lakh
5668,5668,2018 Maruti Ignis,Alpha,Petrol,Manual,"14,002 kms",4.75 Lakh
5669,5669,2018 Toyota Innova Crysta,2.8 GX AT BSIV,Diesel,Automatic,"1,12,000 kms",16.5 Lakh