In [1]:
#!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\snap\anaconda3\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [50]:
import selenium 
import pandas as pd
from selenium import webdriver
import time

# Question 1

In [55]:
driver=webdriver.Chrome('chromedriver.exe')

In [56]:
url='https://www.naukri.com/'
driver.get(url)

In [57]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

In [58]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [59]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [60]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title=[]
for i in title_tag:
    title.append(i.text)
title

['Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'SENIOR MARKETING DATA ANALYST',
 'Data Analyst - Quantitative Support Team',
 'Business Data Analyst - Alteryx/Hadoop',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst - EBA DB',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst/Data Scientist',
 'Senior Data Analyst - Supporting Audits',
 'Urgent Openings For Data Analysts.',
 'Stanza Living Hiring For Data Analyst /MIS',
 'Stanza Living Hiring For Data Analyst /MIS',
 'Sr Data Analyst',
 'Clinical Data Analyst II',
 'IT Data Analyst']

In [ ]:
loca_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location=[]
for i in loca_tag:
    location.append(i.text)
location

In [29]:
len(location)

25

In [ ]:
sal_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")
sal_tag

In [ ]:
salary=[]
for i in sal_tag:
    salary.append(i.text)
salary

In [ ]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp=[]
for i in experience:
    exp.append(i.text)
exp

In [ ]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
compname=[]
for i in company:
    compname.append(i.text)
compname

In [43]:
df=pd.DataFrame()
df['Job name']=title[0:10]
df['Company']=compname[0:10]
df['Salary']=salary[0:10]
df['Location']=location[0:10]
df['Experience']=exp[0:10]
df

,Job name,Company,Salary,Location,Experience
0,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,Not disclosed,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",8-12 Yrs
1,Senior Data Analyst,Flipkart,Not disclosed,(WFH during Covid),2-3 Yrs
2,Senior Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru,3-8 Yrs
3,SENIOR MARKETING DATA ANALYST,McAfee Software (India) Pvt. Ltd,Not disclosed,Bangalore/Bengaluru,3-7 Yrs
4,Data Analyst - Quantitative Support Team,TresVista Financial,Not disclosed,Bangalore/Bengaluru,0-1 Yrs
5,Business Data Analyst - Alteryx/Hadoop,Talent Placers,Not disclosed,"Mumbai, Pune, Bangalore/Bengaluru",5-8 Yrs
6,Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru,1-2 Yrs
7,Senior Data Analyst,Kwalee ltd.,Not disclosed,Bangalore/Bengaluru,5-10 Yrs
8,Data Analyst,COLLABERA,"6,00,000 - 9,00,000 PA.",Bangalore/Bengaluru,2-5 Yrs
9,Data Analyst - EBA DB,Capco Technologies Pvt Ltd,Not disclosed,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",3-6 Yrs

# Question 2

In [108]:
driver=webdriver.Chrome('chromedriver.exe')

In [109]:
url='https://www.naukri.com/'
driver.get(url)

In [110]:
search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [111]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [112]:
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [90]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title=[]
for i in title_tag:
    title.append(i.text)
title

['Sr Data Scientist',
 'Sr Data Scientist',
 'Associate Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist',
 'Senior Data Scientist, Payments compliance',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Data Scientist',
 'Lead Data Scientist',
 'Urgent Opening For Data Scientist/Data Analyst-Gurgaon',
 'Senior Data Scientist - SQL/Python/Numpy',
 'Lead Data Scientist BFSI',
 'Senior Data Scientist',
 'Data Analyst/Data Scientist',
 'Senior Data Scientist',
 'Data Scientist, Customer DNA',
 'Data Scientist - Marketplace']

In [75]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location=[]
for i in loc:
    location.append(i.text)
location

['Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [77]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp=[]
for i in experience:
    exp.append(i.text)
exp

['6-8 Yrs',
 '6-8 Yrs',
 '0-1 Yrs',
 '6-11 Yrs',
 '2-4 Yrs',
 '4-9 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '3-8 Yrs']

In [113]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
compname=[]
for i in company:
    compname.append(i.text)
compname

['IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Center for Study of Science, Technology and Policy',
 'Wrackle Technologies Pvt Ltd',
 'IBM India Pvt. Limited',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED',
 'Rakuten, Inc.',
 'Kwalee India Pvt Ltd.',
 'Visa Inc.',
 'Wrackle Technologies Pvt Ltd',
 'Applied Materials',
 'Rakuten, Inc.',
 'Metaphor Infotech',
 'Serving Skill',
 'IBM India Pvt. Limited',
 'ORMAE LLP',
 'Skillenable Fintech Private Limited',
 'ORMAE LLP',
 'Rakuten, Inc.',
 'Gojek Tech']

In [ ]:
job_url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
url=[]
for i in job_url:
    url.append(i.get_attribute('href'))
url

In [ ]:
job_desc=[]
for i in url:
    driver.get(i)
    try:
        d=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
        for i in d:
            job_desc.append(i.text.replace('\n',' '))
    except:
        job_desc.append('-')
job_desc

In [114]:
df=pd.DataFrame()
df['job profile']=title[0:10]
df['Company']=compname[0:10]
df['location']=location[0:10]
df['Experience']=exp[0:10]
df['Description']=job_desc[0:10]
df

,job profile,Company,location,Experience,Description
0,Sr Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,6-8 Yrs,The Associate Data Scientist will be involved ...
1,Sr Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,6-8 Yrs,Roles and Responsibilities Requirements : - 6...
2,Associate Data Scientist,"Center for Study of Science, Technology and Po...",Bangalore/Bengaluru,0-1 Yrs,"The Challenge Be a thought leader, partner wit..."
3,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,6-11 Yrs,Masters/PhD in quantitative field (Computer Sc...
4,Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,2-4 Yrs,Kwalee is one of the world's leading multiplat...
5,"Senior Data Scientist, Payments compliance",AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED,Bangalore/Bengaluru,4-9 Yrs,"As part of the Global Product organization, th..."
6,Senior Data Scientist,"Rakuten, Inc.",Bangalore/Bengaluru,4-9 Yrs,Data Scientist - Data Mining/ Machine Learning...
7,Senior Data Scientist,Kwalee India Pvt Ltd.,Bangalore/Bengaluru,5-10 Yrs,We are looking for a Data Scientist for the Cu...
8,Data Scientist,Visa Inc.,Bangalore/Bengaluru,2-7 Yrs,Greeting! We have an urgent opening for the b...
9,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,3-8 Yrs,- Bachelor's or Master's degree in a quantitat...

# Question 3

In [3]:
driver=webdriver.Chrome('chromedriver.exe')

In [4]:
url='https://www.naukri.com/'
driver.get(url)

In [5]:
job=driver.find_element_by_id('qsb-keyword-sugg')
job.send_keys('Data Scientist')

In [6]:
search=driver.find_element_by_xpath("//button[@class='btn']")
search.click()

In [11]:
delhi=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
delhi.click()

In [12]:
sal_filter=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal_filter.click()

In [ ]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title=[]
for i in title_tag:
    title.append(i.text)
title

In [ ]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
compname=[]
for i in company:
    compname.append(i.text)
compname

In [ ]:
loca=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location=[]
for i in loca:
    location.append(i.text)
location

In [ ]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp=[]
for i in experience:
    exp.append(i.text)
exp

In [ ]:
sal=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")
salary=[]
for i in sal:
    salary.append(i.text)
salary

In [24]:
df=pd.DataFrame()
df['Job profile']=title[0:10]
df['company']=compname[0:10]
df['location']=location[0:10]
df['experience']=exp[0:10]
df['salary']=salary[0:10]
df

,Job profile,company,location,experience,salary
0,Urgent Opening For Data Scientist/Data Analyst...,Metaphor Infotech,"Gurgaon/Gurugram, Bangalore/Bengaluru, any",5-10 Yrs,"5,00,000 - 15,00,000 PA."
1,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,(WFH during Covid),0-0 Yrs,"3,00,000 - 4,00,000 PA."
2,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",2-5 Yrs,Not disclosed
3,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",0-0 Yrs,"2,25,000 - 4,75,000 PA."
4,Data Scientist / Data Analyst,CARS24,"Noida, New Delhi, Gurgaon/Gurugram",1-5 Yrs,Not disclosed
5,Data Scientist,Kusum Healthcare Pvt. Ltd.,Gurgaon/Gurugram,4-6 Yrs,Not disclosed
6,Data Scientist,R Systems International Ltd.,Delhi / NCR(Okhla),5-10 Yrs,Not disclosed
7,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,3-7 Yrs,"4,00,000 - 9,00,000 PA."
8,Senior Data Scientist,inVentiv International Pharma Services Pvt. Ltd.,(WFH during Covid),3-6 Yrs,Not disclosed
9,Junior Data Scientists & Engineers,PY Consultancy,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",0-3 Yrs,"2,25,000 - 3,50,000 PA."

# Quetion 4

In [25]:
driver=webdriver.Chrome('chromedriver.exe')

In [27]:
url='https://www.glassdoor.co.in/member/home/index.htm'
driver.get(url)

In [28]:
title_tag=driver.find_element_by_id('sc.keyword')
title_tag.send_keys('Data Scientist')

In [29]:
noida=driver.find_element_by_id('sc.location')
noida.send_keys('Noida')

In [30]:
search=driver.find_element_by_xpath("//span[@class='css-8zxfjs']")
search.click()

In [ ]:
title=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")
comp=[]
for i in title:
    comp.append(i.text)
comp

In [ ]:
rating=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
rate=[]
for i in rating:
    if i.text!='':
        rate.append(i.text)
    else:
        rate.append('-')
rate

In [ ]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
day=[]
for i in days:
    day.append(i.text)
day

In [38]:
df=pd.DataFrame()
df['Company']=comp[0:10]
df['Rating']=rate[0:10]
df['NO. of days ago']=day[0:10]
df

                                  Company Rating NO. of days ago
0    Liberin Technologies Private Limited      -            30d+
1  AlgoScale Technologies Private Limited      -              8d
2            Ishatva Management Solutions      -              3d
3                  Data Trained Education      -             27d
4                        Saishaa Services      -             10d
5                Emerging India Analytics      -             29d
6                            limeroad.com      -              8d
7                                Ericsson    4.1              1d
8                          Biz2Credit Inc    4.2            30d+
9            Salasar New Age Technologies      -            30d+

# Question 5

In [60]:
driver=webdriver.Chrome('chromedriver.exe')

In [61]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [62]:
title_tag=driver.find_element_by_id('KeywordSearch')
title_tag.send_keys('Data Scientist')

In [63]:
loc=driver.find_element_by_id('LocationSearch')
loc.send_keys('Noida')

In [64]:
search=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search.click()

In [65]:
name_tags=driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
name=[]
for  i in name_tags:
    name.append(i.text)
name

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'CARS24.com',
 'Vidooly Media Tech',
 'ParallelDots',
 'Amazon']

In [82]:
min_tag=driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]')
minn=[]
maxx=[]
for i in min_tag:
    minn.append(i.text.split()[0])
    maxx.append(i.text.split()[1])

In [83]:
minn

['₹4L',
 '₹1L',
 '₹6L',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xL',
 '₹xxL',
 '₹xL',
 '₹xL',
 '₹xxT',
 '₹xL',
 '₹xxL']

In [85]:
nosalary_tag=driver.find_elements_by_xpath('//span[@class="m-0 css-1b6bxoo"]')
noofsalary=[]
for  i in nosalary_tag:
    noofsalary.append(i.text)

In [86]:
av_tag=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')
avg=[]
for i in av_tag:
    avg.append(i.text.replace('\n',''))

In [89]:
rating_tag=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
ratings=[]
for  i in rating_tag:
    ratings.append(i.text)

In [90]:
df=pd.DataFrame()
df['COMPANY NAME']=name[:10]
df[' Number of salaries']=noofsalary[0:10]
df['Average Salary']=avg[:10]
df['Min Salary']=minn[:10]
df['Max Salary']=maxx[:10]
df['Rating of the company']=ratings[:10]
df

,COMPANY NAME,Number of salaries,Average Salary,Min Salary,Max Salary,Rating of the company
0,Tata Consultancy Services,Average,"₹6,19,349 /yr",₹4L,₹13L,3.9
1,IBM,"₹xx,xxx","₹9,00,000 /yr",₹1L,₹28L,3.9
2,Accenture,21 salaries,"₹11,71,012 /yr",₹6L,₹22L,4.1
3,Delhivery,20 salaries,"₹xx,xx,xxx /yr",₹xL,₹xCr,3.8
4,Ericsson-Worldwide,15 salaries,"₹x,xx,xxx /yr",₹xL,₹xxL,4
5,UnitedHealth Group,15 salaries,"₹xx,xx,xxx /yr",₹xL,₹xxL,3.7
6,Optum,14 salaries,"₹xx,xx,xxx /yr",₹xL,₹xxL,3.7
7,Optum Global Solutions,14 salaries,"₹xx,xx,xxx /yr",₹xxL,₹xxL,3.9
8,Valiance Solutions,10 salaries,"₹x,xx,xxx /yr",₹xL,₹xxL,4.2
9,EXL Service,10 salaries,"₹xx,xx,xxx /yr",₹xL,₹xxL,3.6

# Question 6

In [72]:
driver=webdriver.Chrome('chromedriver.exe')

In [73]:
url='https://www.flipkart.com/'
driver.get(url)

In [74]:
title_tag=driver.find_element_by_class_name('_3704LK')
title_tag.send_keys('Sunglasses')

In [75]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [76]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand=[]
for i in brand_tag:
    brand.append(i.text)
len(brand)

40

In [77]:
desc_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc=[]
for i in desc_tag:
    desc.append(i.text)
len(desc)

40

In [ ]:
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price=[]
for i in price_tag:
    price.append(i.text)
price

In [ ]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
disc=[]
for i in discount:
    disc.append(i.text)
disc

In [80]:
next=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
next.click()

In [81]:
brand_tag2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in brand_tag2:
    brand.append(i.text)
len(brand)

80

In [ ]:
desc_tag2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in desc_tag2:
    desc.append(i.text)
desc

In [ ]:
price_tag2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in price_tag2:
    price.append(i.text)
price

In [ ]:
discount2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")

for i in discount2:
    disc.append(i.text)
disc

In [85]:
next=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
next.click()

In [ ]:
brand_tag3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in brand_tag3:
    brand.append(i.text)
brand

In [87]:
len(brand)

120

In [ ]:
desc_tag3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in desc_tag3:
    desc.append(i.text)
desc

In [ ]:
price_tag3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in price_tag3:
    price.append(i.text)
price

In [90]:
discount3=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")

for i in discount3:
    disc.append(i.text)
len(disc)

120

In [93]:
len(price)

120

In [94]:
df=pd.DataFrame()
df['Brand']=brand[0:100]
df['Description']=desc[0:100]
df['Price']=price[0:100]
df['Discount']=disc[0:100]
df

,Brand,Description,Price,Discount
0,Hamiw,"UV Protection, Riding Glasses Round Sunglasses...",₹189,87% off
1,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹210,85% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
...,...,...,...,...
95,elegante,UV Protection Retro Square Sunglasses (Free Size),₹449,70% off
96,ROZZETTA CRAFT,"UV Protection, Others Round, Aviator Sunglasse...",₹499,77% off
97,kingsunglasses,UV Protection Round Sunglasses (55),₹225,77% off
98,Elligator,"UV Protection, Gradient Wayfarer Sunglasses (60)",₹266,86% off
99,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (61)",₹711,66% off

# Question 7

In [78]:
driver=webdriver.Chrome('chromedriver.exe')

In [79]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [80]:
click=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
click.click()

In [81]:
page=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
next=[]
for i in page:
    next.append(i.get_attribute('href'))
next

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [82]:
rate=[]
for i in next:
    driver.get(i)
    rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    try:
        for j in rating:
            rate.append(j.text)
    except:
        rate.append('-')

In [ ]:
rate

In [87]:
rev=[]
for i in next:
    driver.get(i)
    short=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    try:
        for j in short:
            rev.append(j.text)
    except:
        rev.append('-')

In [ ]:
rev

In [ ]:
review=[]
for i in next:
    driver.get(i)
    long=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    try:
        for j in long:
            review.append(j.text.replace('\n',''))
    except:
        review.append('-')

review

In [90]:
df=pd.DataFrame()
df['Rating']=rate[0:100]
df['review_summary']=rev[0:100]
df['full review']=review[0:100]
df

,Rating,review_summary,full review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,The ultimate performanceCamera is superbThe ba...
96,3,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely goodAs far as camera A...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

# Question 8

In [104]:
driver=webdriver.Chrome('chromedriver.exe')

In [105]:
url='https://www.flipkart.com/'
driver.get(url)

In [106]:
search=driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys('Sneakers')

In [107]:
button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [108]:
page=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
next=[]
for i in page:
    next.append(i.get_attribute('href'))
next=next[0:3]
next

['https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [103]:
money=driver.find_elements_by_xpath("//a[@class='_3bPFwb']//div[@class='_30jeq3']")

price=[]
for i in discount:
    price.append(i.text)
len(price)

40

In [ ]:
discount=driver.find_elements_by_xpath("//a[@class='_3bPFwb']//span")

In [115]:
brands=[]

for i in next:
    driver.get(i)
    title=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    try:
        for j in title:
            brands.append(j.text)
    except:
        brands.append('-')
        
brands

['Echor',
 'Nilatin',
 'Longwalk',
 'Chevit',
 'ASTEROID',
 'Chevit',
 'luxury fashion',
 'Chevit',
 'BIRDE',
 'Creer',
 'Shoes Bank',
 'Echor',
 'BRUTON',
 'Numenzo',
 'Numenzo',
 'Robbie jones',
 'SCATCHITE',
 'ASTEROID',
 'PEHANOSA',
 'Chevit',
 'Magnolia',
 'Kraasa',
 'VIPSJAZZY',
 'Echor',
 'Numenzo',
 'believe',
 'SPARX',
 'Extoes',
 'Absolute comfort',
 'Robbie jones',
 'RODDICK SHOES',
 'Echor',
 'Kreverse',
 'D-SNEAKERZ',
 'Arohi',
 'OZJI',
 'SPARX',
 'World Wear Footwear',
 'BRUTON',
 'Chevit',
 'Rising Wolf',
 'Zorth',
 'SHOEFLY',
 'Echor',
 'SPARX',
 'Zorth',
 'T-ROCK',
 'Nilatin',
 'Chevit',
 'SPARX',
 'SPARX',
 'Chevit',
 'HOTSTYLE',
 'PUMA',
 'BRUTON',
 'Numenzo',
 'HOC',
 'TR',
 'SHOEFLY',
 'Echor',
 'Zsyto',
 'BIRDE',
 'Robbie jones',
 'Extoes',
 'BIRDE',
 'BIRDE',
 'HOC',
 'Echor',
 'Numenzo',
 'World Wear Footwear',
 'Airland',
 'OZJI',
 'Labbin',
 'bluemaker',
 'SPARX',
 'Echor',
 'SPARX',
 'Wakefield',
 'Jokatoo',
 'Chevit',
 'Edoeviv',
 'D-SNEAKERZ',
 'Chevit',
 'luxury fashion',
 'Jack Diamond',
 'WELDONE',
 'SPARX',
 'Echor',
 'PUMA',
 'SPARX',
 'Numenzo',
 'Chevit',
 'Chevit',
 'Robbie jones',
 'Red Rose',
 'Echor',
 'SPARX',
 'India hub',
 'RED TAPE',
 'Robbie jones',
 'BIRDE',
 'World Wear Footwear',
 'Absolute comfort',
 'Robbie jones',
 'STRANGER BROTHERS',
 'SPARX',
 'WRIZT',
 'Chevit',
 'World Wear Footwear',
 'Stefano Rads',
 'Englewood',
 'Extoes',
 'Kraasa',
 'Chevit',
 'BRUTON',
 'Echor',
 'BRUTON',
 'SPARX',
 'D-SNEAKERZ',
 'Echor']

In [116]:
len(brands)

120

In [ ]:
desc=[]
for i in next:
    driver.get(i)
    descript=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    try:
        for j in descript:
            desc.append(j.text)
    except:
        desc.append('-')

In [ ]:
desc

In [ ]:
price=[]

for i in next:
    driver.get(i)
    money=driver.find_elements_by_xpath("//a[@class='_3bPFwb']//div[@class='_30jeq3']")
    
    try:
        for j in money:
            price.append(j.text)
            
    except:
        price.append('-')
price

In [122]:
len(price)

120

In [125]:
disc=[]
for i in next:
    driver.get(i)
    discount=driver.find_elements_by_xpath("//a[@class='_3bPFwb']//span")
    try:
        for j in discount:
            disc.append(j.text)
    except:
        disc.append('-')

In [126]:
len(disc)

120

In [128]:
df=pd.DataFrame()
df['Brand']=brands[0:100]
df['description']=desc[0:100]
df['price']=price[0:100]
df['discount']=disc[0:100]
df

,Brand,description,price,discount
0,Echor,Mens Walking Running Shoes - Lightweight Breat...,₹379,55% off
1,Nilatin,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹399,62% off
2,Longwalk,Men Boxer Sneakers For Men,₹221,75% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹599,72% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,70% off
...,...,...,...,...
95,Echor,Relaxed Attractive Combo pack of 4 Sneakers Fo...,₹429,62% off
96,SPARX,Modern & Trendy Collection Combo Pack of 02 Sh...,₹630,15% off
97,India hub,SM-162 Sneakers For Men,₹379,81% off
98,RED TAPE,"Casual , Partywear Sneakers Shoes For Men's An...","₹1,379",70% off
99,Robbie jones,Raptor Sneakers For Men,₹499,50% off

# Question 9

In [129]:
driver=webdriver.Chrome('chromedriver.exe')

In [131]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [132]:
search_btn=driver.find_elements_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']")
search_btn[0].click()

In [133]:
search_btn=driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']")
search_btn[1].click()

In [143]:
page_url=[]
url = driver.find_elements_by_xpath("//li[@class='pagination-number']//a")[:2]
for i in url:
    page_url.append(i.get_attribute('href'))
page_url

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6935.0_13621.0_6935.0%20TO%2013621.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6935.0_13621.0_6935.0%20TO%2013621.0&p=3']

In [ ]:
product_brands=[]
for i in page_url:
    driver.get(i)
    brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")[:100]
    for i in brand:
        product_brands.append(i.text)
product_brands

In [ ]:
description=[]
for i in page_url:
    driver.get(i)
    descrip=driver.find_elements_by_xpath("//h4[@class='product-product']")[:100]
    for i in descrip:
        description.append(i.text)
description

In [ ]:
price=[]
for i in page_url:
    driver.get(i)
    money=driver.find_elements_by_xpath("//div[@class='product-price']")[:100]
    for i in money:
        price.append(i.text)
price

In [149]:
df=pd.DataFrame()
df['Brand']=product_brands
df['description']=description
df['price']=price
df

              Brand                             description      price
0              Geox                    Men Leather Sneakers   Rs. 6999
1              Puma           Unisex Colourblocked Sneakers   Rs. 9999
2         J.FONTINI               Men Black Leather Loafers  Rs. 12999
3         J.FONTINI            Men Textured Leather Loafers   Rs. 7990
4            Clarks         Men Solid Formal Leather Derbys  Rs. 12999
..              ...                                     ...        ...
95         DAVINCHI     Men Textured Formal Leather Loafers   Rs. 8990
96         DAVINCHI  Men Solid Formal Leather Slip-On Shoes   Rs. 6990
97             ALDO                           Leather Pumps   Rs. 7999
98             Nike               Men ZOOM WINFLO 6 Running   Rs. 7995
99  PUMA Motorsport          Unisex FerrariRS-Fast Sneakers   Rs. 9999

[100 rows x 3 columns]

# Question 10

In [150]:
driver=webdriver.Chrome('chromedriver.exe')

In [154]:
url='https://www.amazon.in/'
driver.get(url)

In [155]:
search=driver.find_element_by_id('twotabsearchtextbox')
search.send_keys('laptops')

In [156]:
btn=driver.find_element_by_id('nav-search-submit-button')
btn.click()

In [157]:
filter=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

for i in filter:
    if i.text=='Intel Core i7':
        i.click()
        break

In [158]:
filter=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

for i in filter:
    if i.text=='Intel Core i9':
        i.click()
        break

In [159]:
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")[:10]

product=[]
for i in title:
    product.append(i.text)
product

['ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS',
 'HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (8GB RAM/256GB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation',
 'ASUS ZenBook 13 OLED (2021) Intel Core i7-1165G7 11th Gen 14" (35.56cms) FHD Thin and Light Laptop (16GB/1TB SSD/Windows 10/Office 2019/Intel Iris Xᵉ Graphics/Lilac Mist/1.14 kg), UX325EA-KG701TS',
 '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (32GB RAM /1TB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation']

In [160]:
rate=driver.find_elements_by_xpath("//span[@class='a-size-base']")[:10]

ratings=[]
for i in rate:
    ratings.append(i.text)
ratings

['14', '230', '100', '809', '65', '55', '14', '5', '255', '46']

In [162]:
money=driver.find_elements_by_xpath("//span[@class='a-price-whole']")[:10]

price=[]
for i in money:
    price.append(i.text)
price

['1,12,990',
 '1,24,000',
 '77,990',
 '57,490',
 '73,990',
 '81,990',
 '1,12,990',
 '41,999',
 '1,01,910',
 '52,999']

In [163]:
df=pd.DataFrame({})
df['Title']=product
df['Ratings']=ratings
df['Price']=price
df

                                               Title Ratings     Price
0  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...      14  1,12,990
1  HP Envy 11th Gen Core i7 Processor 13.3-inch (...     230  1,24,000
2  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....     100    77,990
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...     809    57,490
4  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...      65    73,990
5  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....      55    81,990
6  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...      14  1,12,990
7  (Renewed) Hp Intel 4th Gen Core i7 15.6-inch (...       5    41,999
8  ASUS ZenBook 13 OLED (2021) Intel Core i7-1165...     255  1,01,910
9  (Renewed) Hp Intel 4th Gen Core i7 15.6-inch (...      46    52,999