In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Question 1

# display all the header tags from‘en.wikipedia.org/wiki/Main_Page’

In [241]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [243]:
titles=soup.find_all('h1')
h1=[]
for i in titles:
    h1.append(i.text.replace('\n',' '))
h1

['Main Page']

In [ ]:
titles=soup.find_all('h2')
h2=[]
for i in titles:
    h2.append(i.text.replace('\n',' '))
h2

In [ ]:
titles=soup.find_all('h3')
h3=[]
for i in titles:
    h3.append(i.text.replace('\n',' '))
h3

In [246]:
titles=soup.find_all('h4')
h4=[]
for i in titles:
    h4.append(i.text.replace('\n',' '))
h4

[]

In [247]:
titles=soup.find_all('h5')
h5=[]
for i in titles:
    h5.append(i.text.replace('\n',' '))
h5

[]

In [248]:
titles=soup.find_all('h6')
h6=[]
for i in titles:
    h6.append(i.text)
h6

[]

In [249]:
df={'Header':[],'values':[]}
listy=[]
misty=[]
for i in h1:
    listy.append('h1')
    misty.append(i)
df['Header']=listy
df['values']=misty
df

{'Header': ['h1'], 'values': ['Main Page']}

In [250]:
for i in h2:
    listy.append('h2')
    misty.append(i)
df['Header']=listy
df['values']=misty
df

{'Header': ['h1', 'h2', 'h2', 'h2', 'h2', 'h2', 'h2', 'h2', 'h2', 'h2'],
 'values': ['Main Page',
  "From today's featured article",
  'Did you know\xa0...',
  'In the news',
  'On this day',
  "Today's featured picture",
  'Other areas of Wikipedia',
  "Wikipedia's sister projects",
  'Wikipedia languages',
  'Navigation menu']}

In [ ]:
for i in h3:
        listy.append('h3')
        misty.append(i)
df['Header']=listy
df['values']=misty
df

In [ ]:
if len(h4)>0:
    for i in h4:
        listy.append('h4')
        misty.append(i)
else:
    listy.append('h4')
    misty.append('-')
df['Header']=listy
df['values']=misty
df

In [ ]:
if len(h5)>0:
    for i in h5:
        listy.append('h5')
        misty.append(i)
else:
    listy.append('h5')
    misty.append('-')
df['Header']=listy
df['values']=misty
df

In [ ]:
if len(h6)>0:
    for i in h6:
        listy.append('h6')
        misty.append(i)
else:
    listy.append('h6')
    misty.append('-')
df['Header']=listy
df['values']=misty
df

In [255]:
df=pd.DataFrame(df,columns=('Header','values'))
df

   Header                         values
0      h1                      Main Page
1      h2  From today's featured article
2      h2               Did you know ...
3      h2                    In the news
4      h2                    On this day
5      h2       Today's featured picture
6      h2       Other areas of Wikipedia
7      h2    Wikipedia's sister projects
8      h2            Wikipedia languages
9      h2                Navigation menu
10     h3                Personal tools
11     h3                    Namespaces
12     h3                      Variants
13     h3                         Views
14     h3                          More
15     h3                        Search
16     h3                    Navigation
17     h3                    Contribute
18     h3                         Tools
19     h3                  Print/export
20     h3             In other projects
21     h3                     Languages
22     h4                              -
23     h5                              -
24     h6                              -

# Question 2

# Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release.

In [ ]:
page=requests.get('https://www.imdb.com/chart/top')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
titles=soup.find_all('td',class_='titleColumn')
titles

In [ ]:
name=[]
for i in titles:
    for j in i.find_all('a'):
        name.append(j.text.replace('\n',''))
name

In [ ]:
rating= soup.find_all('td',class_='ratingColumn imdbRating')
rating

In [ ]:
rat=[]
for i in rating:
    rat.append(i.text.replace('\n',''))
rat

In [ ]:
release=soup.find_all('span',class_='secondaryInfo')
release

In [ ]:
year=[]
for i in release:
    year.append(i.text.replace('\n',''))
year

In [239]:
df=pd.DataFrame({})
df['Name']=name[:100]
df['Rating']=rat[:100]
df['Year']=year[:100]
df

                                 Name Rating    Year
0                             Nayakan    8.5  (1987)
1                          Anbe Sivam    8.5  (2003)
2                   Pariyerum Perumal    8.5  (2018)
3                             Golmaal    8.5  (1979)
4                   C/o Kancharapalem    8.5  (2018)
..                                ...    ...     ...
95                          Virumandi    8.1  (2004)
96  Lagaan: Once Upon a Time in India    8.1  (2001)
97                            Kahaani    8.1  (2012)
98                    Andaz Apna Apna    8.1  (1994)
99           Uri: The Surgical Strike    8.1  (2019)

[100 rows x 3 columns]

# Question 3

# Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year 
of release)

In [229]:
page=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [230]:
soup=BeautifulSoup(page.content)

In [ ]:
title=soup.find_all('td',class_='titleColumn')
title

In [ ]:
name=[]
for i in title:
    for j in i.find_all('a'):
        name.append(j.text.replace('\n',''))
name

In [ ]:
rating=soup.find_all('td',class_='ratingColumn imdbRating')
rating

In [ ]:
rat=[]
for i in rating:
    rat.append(i.text.replace('\n',''))
rat

In [235]:
len(rat)

250

In [236]:
release=soup.find_all('span',class_='secondaryInfo')

In [ ]:
year=[]
for i in release:
    year.append(i.text)
year

In [238]:
df=pd.DataFrame({})
df['Name']=name[:100]
df['Rating']=rat[:100]
df['Year']=year[:100]
df

                                 Name Rating    Year
0                             Nayakan    8.5  (1987)
1                          Anbe Sivam    8.5  (2003)
2                   Pariyerum Perumal    8.5  (2018)
3                             Golmaal    8.5  (1979)
4                   C/o Kancharapalem    8.5  (2018)
..                                ...    ...     ...
95                          Virumandi    8.1  (2004)
96  Lagaan: Once Upon a Time in India    8.1  (2001)
97                            Kahaani    8.1  (2012)
98                    Andaz Apna Apna    8.1  (1994)
99           Uri: The Surgical Strike    8.1  (2019)

[100 rows x 3 columns]

# Question 4

# Write a python program to scrap book name, author name, genre and book review of any 5 books from 'BOOKPAGE'.

In [ ]:
page=requests.get('https://bookpage.com/reviews')
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
title=soup.find_all('h4',class_='italic')
title

In [ ]:
name=[]
for i in title:
    for j in i.find_all('a'):
        name.append(j.text.replace('\n',''))
name

In [ ]:
author=soup.find_all('p',class_='sans bold')

In [ ]:
auth=[]
for i in author:
    auth.append(i.text.replace('\n',''))
auth

In [ ]:
genre=soup.find_all('p',class_='genre-links hidden-phone')

In [ ]:
gen=[]
for i in genre:
    gen.append(i.text.replace('\n',''))
gen

In [ ]:
review= soup.find_all('p',class_='excerpt')
review

In [ ]:
rev=[]
for i in review:
    rev.append(i.text.replace('\n',''))
rev

In [259]:
df=pd.DataFrame({})
df['Book name']=name[:5]
df['Author']=auth[:5]
df['Genre']=gen[:5]
df['Review']=rev[:5]

In [260]:
df

,Book name,Author,Genre,Review
0,Nayakan,Clint Smith,Audio / Nonfiction / African American History,Clint Smith’s narration of How the Word Is Pas...
1,Anbe Sivam,"Tarana Burke, Brené Brown, Cast",Audio / Nonfiction / Essays,Tarana Burke and Brené Brown demonstrate the p...
2,Pariyerum Perumal,Rosalyn Eves,YA / YA Fiction,Rosalyn Eves’ Beyond the Mapped Stars blends f...
3,Golmaal,Jaime Cortez,Fiction / Short Stories,"As in John Steinbeck’s The Grapes of Wrath, th..."
4,C/o Kancharapalem,Fiona Sampson,Nonfiction / Biography / Literary History,People often think of Elizabeth Barrett Browni...

# Question 5

# . Write a python program to scrape cricket rankings from 'icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points andrating.

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
titles=soup.find_all('span',class_='u-hide-phablet')
tit=[]
for i in titles:
    tit.append(i.text.replace('\n',' '))
tit

In [ ]:
team_match=soup.find_all('td',class_='table-body__cell u-center-text')
team_matches=[]
team_points=[]
j=0
team_matches.append(soup.find('td',class_='rankings-block__banner--matches').text)
team_points.append(soup.find('td',class_='rankings-block__banner--points').text)
for i in team_match:
    if j==0 or j%2==0:
        team_matches.append(i.text.replace('\n',''))
    else:
        team_points.append(i.text.replace('\n',''))
    j+=1
team_matches

In [ ]:
team_points

In [ ]:
rate=soup.find_all('td',class_='table-body__cell u-text-right rating')
team_rating=[]
team_rating.append(soup.find('td',class_='rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ',''))
for i in rate:
    team_rating.append(i.text.replace('\n','').replace(' ',''))
team_rating

In [225]:
df=pd.DataFrame({})
df['Name']=tit[:10]
df['Matches']=team_matches[:10]
df['Points']=team_points[:10]
df['Rating']=team_rating[:10]
df

               Name Matches Points Rating
0    Marizanne Kapp      18  2,955    418
1      Ellyse Perry      20  2,370    394
2   Stafanie Taylor      24  2,828    365
3    Natalie Sciver      23  2,535    331
4     Deepti Sharma      21  1,947    307
5     Jess Jonassen      17  1,427    252
6  Ashleigh Gardner      20  1,496    243
7  Dane van Niekerk       5    306    242
8     Sophie Devine      11    519    239
9   Katherine Brunt       2     25    236

In [ ]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
titles=soup.find_all('td',class_='table-body__cell rankings-table__name name')
tit=[]
tit.append(soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n',''))
for i in titles:
    for j in i.find_all('a'):
        tit.append(j.text.replace('\n',' '))
tit

In [ ]:
rate=soup.find_all('td',class_='table-body__cell rating')
team_rating=[]
team_rating.append(soup.find('div',class_='rankings-block__banner--rating').text.replace('\n','').replace(' ',''))
for i in rate:
    team_rating.append(i.text.replace('\n','').replace(' ',''))
team_rating

In [ ]:
teamt=soup.find_all('span',class_='table-body__logo-text')
team=[]
team.append(soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','').strip())
for i in teamt:
    team.append(i.text.replace('\n',''))
team

In [224]:
df=pd.DataFrame({})
df['Name']=tit[:10]
df['Team']=team[:10]
df['Rating']=team_rating[:10]
df

               Name Team Rating
0    Marizanne Kapp  AUS    418
1      Ellyse Perry   WI    394
2   Stafanie Taylor  ENG    365
3    Natalie Sciver  IND    331
4     Deepti Sharma  AUS    307
5     Jess Jonassen  AUS    252
6  Ashleigh Gardner   SA    243
7  Dane van Niekerk   NZ    242
8     Sophie Devine  ENG    239
9   Katherine Brunt   NZ    236

In [ ]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
titles=soup.find_all('td',class_='table-body__cell rankings-table__name name')
tit=[]
tit.append(soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n',''))
for i in titles:
    for j in i.find_all('a'):
        tit.append(j.text.replace('\n',' '))
tit[:3]

In [ ]:
rate=soup.find_all('td',class_='table-body__cell rating')
team_rating=[]
team_rating.append(soup.find('div',class_='rankings-block__banner--rating').text.replace('\n','').replace(' ',''))
for i in rate:
    team_rating.append(i.text.replace('\n','').replace(' ',''))
team_rating[:4]

In [ ]:
teamt=soup.find_all('span',class_='table-body__logo-text')
team=[]
team.append(soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','').strip())
for i in teamt:
    team.append(i.text.replace('\n',''))
team[:6]

In [223]:
df=pd.DataFrame({})
df['Name']=tit[:10]
df['Team']=team[:10]
df['Rating']=team_rating[:10]
df

               Name Team Rating
0    Marizanne Kapp  AUS    418
1      Ellyse Perry   WI    394
2   Stafanie Taylor  ENG    365
3    Natalie Sciver  IND    331
4     Deepti Sharma  AUS    307
5     Jess Jonassen  AUS    252
6  Ashleigh Gardner   SA    243
7  Dane van Niekerk   NZ    242
8     Sophie Devine  ENG    239
9   Katherine Brunt   NZ    236

# Question 6

# Write a python program to scrape cricket rankings from ‘icc-cricket.com’. You have toscrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points andrating.

ii) Top 10 women’s ODI players along with the records of their team and rating.

iii) Top 10 women’s ODI all-rounder along with the records of their team andrating.

In [ ]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
titles=soup.find_all('span',class_='u-hide-phablet')
tit=[]
for i in titles:
    tit.append(i.text.replace('\n',' '))
tit

In [ ]:
team_match=soup.find_all('td',class_='table-body__cell u-center-text')
team_matches=[]
team_points=[]
j=0
team_matches.append(soup.find('td',class_='rankings-block__banner--matches').text)
team_points.append(soup.find('td',class_='rankings-block__banner--points').text)
for i in team_match:
    if j==0 or j%2==0:
        team_matches.append(i.text.replace('\n',''))
    else:
        team_points.append(i.text.replace('\n',''))
    j+=1
team_matches

In [ ]:
team_points

In [ ]:
rate=soup.find_all('td',class_='table-body__cell u-text-right rating')
team_rating=[]
team_rating.append(soup.find('td',class_='rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ',''))
for i in rate:
    team_rating.append(i.text.replace('\n','').replace(' ',''))
team_rating

In [222]:
df=pd.DataFrame({})
df['Name']=tit[:10]
df['Matches']=team_matches[:10]
df['Points']=team_points[:10]
df['Rating']=team_rating[:10]
df

               Name Matches Points Rating
0    Marizanne Kapp      18  2,955    418
1      Ellyse Perry      20  2,370    394
2   Stafanie Taylor      24  2,828    365
3    Natalie Sciver      23  2,535    331
4     Deepti Sharma      21  1,947    307
5     Jess Jonassen      17  1,427    252
6  Ashleigh Gardner      20  1,496    243
7  Dane van Niekerk       5    306    242
8     Sophie Devine      11    519    239
9   Katherine Brunt       2     25    236

In [ ]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
titles=soup.find_all('td',class_='table-body__cell rankings-table__name name')
tit=[]
tit.append(soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n',''))
for i in titles:
    for j in i.find_all('a'):
        tit.append(j.text.replace('\n',' '))
tit[:3]

In [ ]:
teamt=soup.find_all('span',class_='table-body__logo-text')
team=[]
team.append(soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','').strip())
for i in teamt:
    team.append(i.text.replace('\n',''))
team

In [ ]:
rate=soup.find_all('td',class_='table-body__cell rating')
team_rating=[]
team_rating.append(soup.find('div',class_='rankings-block__banner--rating').text.replace('\n','').replace(' ',''))
for i in rate:
    team_rating.append(i.text.replace('\n','').replace(' ',''))
team_rating

In [221]:
df=pd.DataFrame({})
df['Name']=tit[:10]
df['Team']=team[:10]
df['Rating']=team_rating[:10]
df

               Name Team Rating
0    Marizanne Kapp  AUS    418
1      Ellyse Perry   WI    394
2   Stafanie Taylor  ENG    365
3    Natalie Sciver  IND    331
4     Deepti Sharma  AUS    307
5     Jess Jonassen  AUS    252
6  Ashleigh Gardner   SA    243
7  Dane van Niekerk   NZ    242
8     Sophie Devine  ENG    239
9   Katherine Brunt   NZ    236

In [ ]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
titles=soup.find_all('td',class_='table-body__cell rankings-table__name name')
tit=[]
tit.append(soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n',''))
for i in titles:
    for j in i.find_all('a'):
        tit.append(j.text.replace('\n',' '))
tit

In [ ]:
rate=soup.find_all('td',class_='table-body__cell rating')
team_rating=[]
for i in rate:
    team_rating.append(i.text.replace('\n','').replace(' ',''))
team_rating

In [ ]:
teamt=soup.find_all('span',class_='table-body__logo-text')
team=[]
for i in teamt:
    team.append(i.text.replace('\n',''))
team

In [220]:
df=pd.DataFrame({})
df['Name']=tit[:10]
df['Team']=team[:10]
df['Rating']=team_rating[:10]
df

               Name Team Rating
0    Marizanne Kapp  AUS    418
1      Ellyse Perry   WI    394
2   Stafanie Taylor  ENG    365
3    Natalie Sciver  IND    331
4     Deepti Sharma  AUS    307
5     Jess Jonassen  AUS    252
6  Ashleigh Gardner   SA    243
7  Dane van Niekerk   NZ    242
8     Sophie Devine  ENG    239
9   Katherine Brunt   NZ    236

# Question 7

# Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [262]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'}
page=requests.get('https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A-2000000&dc&qid=1627338005&rnid=1318502031&ref=sr_nr_p_36_1',headers=headers)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
product=soup.find_all('span',class_='a-size-base-plus a-color-base a-text-normal')
product

In [ ]:
name=[]
for i in product:
    name.append(i.text.replace('\n',''))
name=name[:23]
name

In [ ]:
money=soup.find_all('span',class_='a-price-whole')
money

In [ ]:
price=[]
for i in money:
    price.append(i.text)
    
price=price[:23]
price

In [268]:
rat=soup.find_all('span',class_='a-icon-alt')

In [ ]:
rate=[]
for i in rat:
    rate.append(i.text)
rate=rate[:23]
rate

In [ ]:
img= soup.find_all('img',class_='s-image')
img

In [ ]:
url=[]
for i in img:
    url.append(i['src'])
url=url[:23]
url

In [272]:
df=pd.DataFrame({})
df['Product Name']=name
df['Price(in RS)']=price
df['image url']=url
df['Rating']=rate
df

,Product Name,Price(in RS),image url,Rating
0,"I KALL K380 Smartphone (7.12 Inch, 4GB, 32GB) ...","6,299",https://m.media-amazon.com/images/I/615BsxGw6Z...,2.4 out of 5 stars
1,"C2-01 by HMD-N O K I A with 3.15 MP Camera, RD...","2,499",https://m.media-amazon.com/images/I/31lk3nIoAl...,1.0 out of 5 stars
2,"C3 by HMD-N O K I A with 2 Mega Pixel Camera, ...","4,499",https://m.media-amazon.com/images/I/41zQBIv+k3...,4.2 out of 5 stars
3,Redmi 9 Power (Mighty Black 4GB RAM 64GB Stora...,"10,999",https://m.media-amazon.com/images/I/71hEzQGO5q...,4.3 out of 5 stars
4,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","14,999",https://m.media-amazon.com/images/I/71-Su4Wr0H...,4.1 out of 5 stars
5,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...","13,499",https://m.media-amazon.com/images/I/810GQ7CWdD...,4.2 out of 5 stars
6,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,999",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.1 out of 5 stars
7,"Redmi Note 10S (Cosmic Purple, 6GB RAM, 128GB ...","15,999",https://m.media-amazon.com/images/I/81sZamLSPW...,4.2 out of 5 stars
8,"Redmi 9A (Midnight Black, 2GB RAM, 32GB Storag...","6,999",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.3 out of 5 stars
9,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128G...","14,999",https://m.media-amazon.com/images/I/71OxJeyywS...,4.1 out of 5 stars
10,"realme C11 (2021) (Cool Blue, 2GB RAM, 32GB St...","6,999",https://m.media-amazon.com/images/I/71FYSKYFup...,4.2 out of 5 stars
11,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...","10,999",https://m.media-amazon.com/images/I/71hEzQGO5q...,2.0 out of 5 stars
12,UltraProlink USB Type C to Ethernet + Hub MP420,"2,599",https://m.media-amazon.com/images/I/31CrDg9wJ4...,4.2 out of 5 stars
13,2700 Classic by Original HMD-N o k i a with 2 ...,"2,699",https://m.media-amazon.com/images/I/31xaGrdNjW...,4.1 out of 5 stars
14,X2-02 by Original HMD-N O K I A with 2 Mega Pi...,"3,199",https://m.media-amazon.com/images/I/31WqP5gSSX...,4.2 out of 5 stars
15,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","13,499",https://m.media-amazon.com/images/I/716nHhG9SW...,4.1 out of 5 stars
16,"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Sto...","17,999",https://m.media-amazon.com/images/I/81vixbGM2E...,4.2 out of 5 stars
17,"Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB ...","6,999",https://m.media-amazon.com/images/I/81S-XYJlzT...,4.2 out of 5 stars
18,"realme C11 (2021) (Cool Grey, 2GB RAM, 32GB St...","6,999",https://m.media-amazon.com/images/I/618UBhFmaQ...,4.2 out of 5 stars
19,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,"12,499",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
20,"Samsung Galaxy M21 2021 Edition (Arctic Blue, ...","17,999",https://m.media-amazon.com/images/I/811lrGbXwI...,4.2 out of 5 stars
21,"Redmi Note 10 Pro (Glacial Blue, 6GB RAM, 128G...","12,499",https://m.media-amazon.com/images/I/81nndQAg2n...,4.1 out of 5 stars
22,Samsung Galaxy M21 2021 Edition (Charcoal Blac...,"7,999",https://m.media-amazon.com/images/I/712+A5mH44...,4.2 out of 5 stars

# Question 8

# Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [274]:
page=requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YR4uwo4zaUk')
page

In [275]:
soup=BeautifulSoup(page.content)

In [276]:
titles=soup.find_all('p',class_='period-name')
tit=[]
for i in titles:
    tit.append(i.text.replace('\n',' '))
tit

['Tonight',
 'Saturday',
 'SaturdayNight',
 'Sunday',
 'SundayNight',
 'Monday',
 'MondayNight',
 'Tuesday',
 'TuesdayNight']

In [277]:
short=soup.find_all('p',class_='short-desc')
desc=[]
for i in short:
    desc.append(i.text.replace('\n',''))
desc

['Mostly Cloudy',
 'Mostly Cloudythen MostlySunny andBreezy',
 'Mostly Cloudy',
 'GradualClearing',
 'Partly Cloudy',
 'Mostly Sunny',
 'Partly Cloudy',
 'Mostly Sunny',
 'Partly Cloudy']

In [278]:
tempy=soup.find_all('p')
temp=[]
for i in tempy:
    temp.append(i.text.replace('\n',' '))
temp=temp[11::4]
temp

['Low: 56 °F',
 'High: 64 °F',
 'Low: 55 °F',
 'High: 65 °F',
 'Low: 54 °F',
 'High: 65 °F',
 'Low: 54 °F',
 'High: 66 °F',
 'Low: 54 °F']

In [279]:
long=soup.find_all('div',class_='col-sm-10 forecast-text')
descr=[]
for i in long:
    descr.append(i.text.replace('\n',''))
descr=descr[:9]
descr

['Mostly cloudy, with a low around 56. Southwest wind 13 to 15 mph, with gusts as high as 20 mph. ',
 'Cloudy through mid morning, then gradual clearing, with a high near 64. Breezy, with a southwest wind 14 to 24 mph, with gusts as high as 31 mph. ',
 'Mostly cloudy, with a low around 55. Southwest wind 13 to 20 mph, with gusts as high as 26 mph. ',
 'Cloudy through mid morning, then gradual clearing, with a high near 65. Southwest wind 11 to 18 mph, with gusts as high as 24 mph. ',
 'Partly cloudy, with a low around 54. West southwest wind 11 to 18 mph, with gusts as high as 24 mph. ',
 'Mostly sunny, with a high near 65.',
 'Partly cloudy, with a low around 54.',
 'Mostly sunny, with a high near 66.',
 'Partly cloudy, with a low around 54.']

In [ ]:
len(descr)

In [281]:
df=pd.DataFrame({})
df['Day']=tit
df['Short Description']=desc
df['Temperature']=temp
df['Detailed']=descr
df

,Day,Short Description,Temperature,Detailed
0,Tonight,Mostly Cloudy,Low: 56 °F,"Mostly cloudy, with a low around 56. Southwest..."
1,Saturday,Mostly Cloudythen MostlySunny andBreezy,High: 64 °F,"Cloudy through mid morning, then gradual clear..."
2,SaturdayNight,Mostly Cloudy,Low: 55 °F,"Mostly cloudy, with a low around 55. Southwest..."
3,Sunday,GradualClearing,High: 65 °F,"Cloudy through mid morning, then gradual clear..."
4,SundayNight,Partly Cloudy,Low: 54 °F,"Partly cloudy, with a low around 54. West sout..."
5,Monday,Mostly Sunny,High: 65 °F,"Mostly sunny, with a high near 65."
6,MondayNight,Partly Cloudy,Low: 54 °F,"Partly cloudy, with a low around 54."
7,Tuesday,Mostly Sunny,High: 66 °F,"Mostly sunny, with a high near 66."
8,TuesdayNight,Partly Cloudy,Low: 54 °F,"Partly cloudy, with a low around 54."

# Question 9

# Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [283]:
page=requests.get('https://internshala.com/fresher-jobs/jobs-in-mumbai')
page

In [284]:
soup=BeautifulSoup(page.content)

In [ ]:
title=soup.find_all('div',class_='heading_4_5 profile')
job=[]
for i in title:
    job.append(i.text.replace('\n',''))
job

In [ ]:
company=soup.find_all('a',class_='link_display_like_text')
name=[]
for i in company:
    name.append(i.text.strip())
name

In [ ]:
ct=soup.find_all('div',class_='item_body')
ctc=[]
for i in ct:
    ctc.append(i.text.strip())
ctc=ctc[4::3]
ctc

In [ ]:
date=soup.find_all('div',class_='item_body')
apply=[]
for i in date:
    apply.append(i.text.strip())
apply=apply[2::3]
apply

In [289]:
df=pd.DataFrame({})
df['Job profile']=job[:31]
df['Company']=name[:31]
df['CTC']=ctc[:31]
df['Apply by']=apply[:31]
df

,Job profile,Company,CTC,Apply by
0,Executive/Senior Executive - Partnerships,Freecharge Payments Technology Private Limited,3 - 5 LPA,11 Sep' 21
1,Business Development Associate,Collegepond Counsellors Private Limited,3 LPA,18 Sep' 21
2,Sales Magnet Associate,HyperCAP Private Limited,3 - 3.5 LPA,17 Sep' 21
3,Junior Social Media Marketing Manager,BarkButler Dog & Cat Toys,3 - 4 LPA,16 Sep' 21
4,Sales Executive,Bonphul Air Products Private Limited,3 - 3.5 LPA,15 Sep' 21
5,Corporate Sales Associate,Arun Shankar & Associates,4 - 8 LPA,11 Sep' 21
6,Linux Administrator,Media.net,5.03 LPA,11 Sep' 21
7,Management Trainee,Maharashtra Knowledge Corporation Limited (MKCL),3 LPA,10 Sep' 21
8,Office Assistant,Maharashtra Metal Distributors,4 - 8.5 LPA,10 Sep' 21
9,Business Marketing Manager,MentorBoxx,3 - 3.5 LPA,9 Sep' 21
10,Junior Equity Research Analyst,Saurashtra Freight Private Limited,3 - 4 LPA,9 Sep' 21
11,Full Stack Software Engineer,Flair Labs,3 - 5 LPA,9 Sep' 21
12,Flutter Developer,Binary Numbers,3 - 5 LPA,6 Sep' 21
13,Business Development Associate,SkillSanta,3 - 3.5 LPA,5 Sep' 21
14,Client Engagement Executive,Alphacore Technologies Private Limited,5 - 7 LPA,4 Sep' 21
15,Product Manager,Tatva Health,3 - 4.2 LPA,3 Sep' 21
16,Sales Associate - Hospital Network,SureClaim,3 - 3.5 LPA,3 Sep' 21
17,Product Development Assistant,Acron Polymer Products,3.6 - 4.8 LPA,3 Sep' 21
18,Content & E-commerce Management Associate,Limese,3.75 - 4 LPA,2 Sep' 21
19,Area Sales Manager - Maharashtra And Gujarat,Alphacore Technologies Private Limited,3 - 3.5 LPA,1 Sep' 21
20,Marketing Assistant,Design Horse LLP,3 - 4 LPA,1 Sep' 21
21,Business Development Executive,Zell Education,3 - 3.6 LPA,1 Sep' 21
22,Counselor (Corporate & Student Training),Candid Solutions,7 - 9 LPA,30 Aug' 21
23,Associate Software Developer,LenDenClub,3 - 3.5 LPA,30 Aug' 21
24,Associate Software Developer,Indigital Technologies LLP,4 - 7 LPA,30 Aug' 21
25,Operations Manager,Touchstone Partners,3 LPA,8 Sep' 21
26,Software Testing Engineer,SafeSquid Labs,4 - 7 LPA,27 Aug' 21
27,Business Development Executive,Padhhigh,3 LPA,26 Aug' 21
28,Corporate Sales Associate,Best Roadways Limited,3 - 7 LPA,26 Aug' 21
29,MERN Stack Developer,Binary Numbers,3.8 - 4.5 LPA,23 Aug' 21
30,Lead Counselor,HOSS - House Of Soft Skills,3 - 7 LPA,22 Aug' 21

# Question 10

# Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [ ]:
page=requests.get('https://www.nobroker.in/property/sale/mumbai/Colaba?searchParam=W3sibGF0IjoxOC45MDY3MDMxLCJsb24iOjcyLjgxNDcxMjMsInBsYWNlSWQiOiJDaElKbGNJT281clI1enNSendzOXpsdmR0eHMiLCJwbGFjZU5hbWUiOiJDb2xhYmEifV0=&radius=2.0')
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
title=soup.find_all('h2',class_='heading-6 font-semi-bold nb__1AShY')
house=[]
for i in title:
    house.append(i.text.strip())
house

In [ ]:
location=soup.find_all('div',class_='nb__2e3cc')
loca=[]
for i in location:
    loca.append(i.text.strip())
loca

In [ ]:
area=soup.find_all('div',class_='nb__2CMjv')
ar=[]
for i in area:
    ar.append(i.text.strip())
ar

In [ ]:
emi=soup.find_all('div',class_='font-semi-bold heading-6')
em=[]
for i in emi:
    em.append(i.text)
em=em[1::3]
em

In [ ]:
price=soup.find_all('div',class_='font-semi-bold heading-6')
pr=[]
for i in price:
    for j in i.find_all('span'):
        pr.append(j.text)
pr=pr[1::2]
pr

In [290]:
df=pd.DataFrame({})
df['House']=house
df['Location']=loca
df['Area']=ar
df['EMI']=em
df['Price']=pr
df

,House,Location,Area,EMI,Price
0,1 BHK Flat For Sale In Kartar Bhavan Chsl In...,EastFacing,"Kartar Bhavan, Colaba Causeway, Apollo Bandar,...",₹1.29 Lacs/Month,₹2.25 Crores
1,1 BHK Flat For Sale In Ashoka Apartment In C...,South-WestFacing,"B Block, Near Strand Cinema",₹1.32 Lacs/Month,₹2.31 Crores
2,3 BHK Flat For Sale In Ruby Terrace In Colaba,Don't KnowFacing,", Shahid Bhagat Singh Road, Near Dena Bank",₹1.09 Lacs/Month,₹1.9 Crores
3,2 BHK Flat For Sale In Sushil Apartment In C...,WestFacing,near The Bombay Presidency Radio Club Limited ...,₹2.87 Lacs/Month,₹5 Crores
4,1 RK Flat For Sale In Shree Sadan Building I...,EastFacing,Lala Nigam Road near Colaba Market,"₹37,254/Month",₹65 Lacs
5,2 BHK Flat For Sale In Kismet Building In Co...,NorthFacing,"Azad Nagar, Near to Colaba Fire Station",₹2.46 Lacs/Month,₹4.3 Crores
6,2 BHK Flat For Sale In Undisclosed In Colaba,WestFacing,"Undisclosed, Apollo Bandar Rd Apollo Bandar ne...",₹1.86 Lacs/Month,₹3.25 Crores
7,1 RK Flat For Sale In Moreshwar Sadan In Fort,SouthFacing,"Shahid Bhagat Singh Rd, Cusrow Baug Colony, Ap...","₹34,388/Month",₹60 Lacs
8,1 RK Flat For Sale In Vijaydeep Chs In Colaba,NorthFacing,Colaba Causeway Near Strand Cinema,"₹42,985/Month",₹75 Lacs
9,1 RK Flat For Sale In Om Moreshwar Sadan Chs...,SouthFacing,"25, Harmos Ji St, Apollo Bandar, Colaba, Mumba...","₹34,388/Month",₹60 Lacs